# use Py3.12 compatibility
# --- CORE PDF PROCESSING ---
pdfplumber==0.10.3
PyMuPDF==1.24.9   

# --- OCR ---
pytesseract==0.3.10
Pillow==10.3.0

# --- DATABASE ---
psycopg2-binary==2.9.9

# --- DATA / ANALYTICS ---
pandas==2.2.1
numpy==1.26.4

# --- MACHINE LEARNING ---
transformers==4.39.0
# download torch according to your system
scikit-learn==1.5.2      # updated for Py3.12
sentence-transformers

# --- API / BACKEND ---
fastapi==0.111.0
uvicorn==0.30.0

# --- UTILS ---
python-dotenv==1.0.1
tqdm==4.66.2

# --- VISUALIZATION ---
matplotlib==3.8.3

# --- RAG / VECTOR DB ---
pgvector==0.2.5
